body{
    font-family: "Roboto", arial;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: grey;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;
}

.right-side{
    display: flex;
}

.left-side{
    color: white;
}

.awesome{
    font-weight: 800;
    color: #F9FAF8;
    font-size: 48px;
    flex-wrap;
}

.leftawesome{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}

.textunder{
    color: grey;
}

.underheader{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background: #3882F6;
    align-self: flex-start;
    color: white;
    border-radius: 8px;
    padding: 4px 25px;
}